*{background: #F0F4F3;}
p {
  padding: 0px;
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 18px;
  font-style: italic;
  Color: #777777
}
h1 {
  padding: 0px;
  margin: 0px;
  font-family: 'POPPINS', sans-serif;
  font-weight: 500;
  font-size: 60px;
  font-style: bold;
  Color: #383D40;
}

h6 {
    padding: 30px;
    margin: 0px;
    font-family: 'POPPINS', sans-serif;
    font-weight: 700;
    font-size: 40px;
    font-style: bold;
    Color: #383D40;
    text-align: center;
    font-style: bold;
  }

h2 {
  padding: 0px;
  margin: 0px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 24px;
  font-style: bold;
  color: #0468BF
}

h5 {
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 24px;
    font-style: bold;
    color: #CA2102
  }

a {
  padding: 0px;
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 18px;
  font-style: italic;
}

h4 {
  padding: 0px;
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 16px;
  font-style: bold
}

.cities {
  background-color: black;
  color: black;
  margin: 10px;
  padding: 10px;
  width: 300px;
}
li {
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-style: semi-bold
}
.flex-area {
    display: flex;
    flex-direction: row;
    width: 70%;
    background-color: #F0F4F3;
}

.Profile-photo img {
    width: 100%;
    max-height: 500px;
}
.flex-section {
    text-align: left;
    justify-content: center;
}

.grid {
    display: grid;
    background-color: blue;
    margin: 0px, 5%;
    min-height: 700px;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
    grid-template-areas: "project-one project-one"
}

@media only all and (max-width: 1000px) {
    body{
        background-color: white;
    }
}
@font-face (max-width: 1000px) {
    font-family: 'Montserrat';
    font-weight: 500;
}

image {
    box-align: center;
    background: #F0F4F3;
  }
.box {
    display: flex;
    justify-content: space-between;
}

<style>
        body {
            font-family: 'Montserrat', sans-serif;
            margin: 0;
            padding: 0;
        }

        nav {
            background-color: #F0F4F3;
            overflow: hidden;
            border-bottom: 1px solid #CA2102; /* Adds a red line under the navigation bar */
            width: 100%;
        }

        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        nav ul li {
            float: right;
        }

        nav ul li a {
            display: block;
            color: #383D40;
            text-align: center;
            padding: 14px 20px;
            text-decoration: none;
        }

        nav ul li a:hover {
            background-color: #575757;
            color: #F0F4F3;
        }

        footer nav {
            background-color: #F0F4F3;
            overflow: hidden;
            border-top: 1px solid #0468BF; /* Adds a red line on top of the footer navigation bar */
        }

        footer nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

       footer nav ul li {
            float: right;
        }

        footer nav ul li a {
            display: block;
            color: #383D40;
            text-align: center;
            padding: 14px 20px;
            text-decoration: none;
        }

        footer nav ul li a:hover {
            background-color: #575757;
            color: #F0F4F3;
        }

        #content {
            padding: 20px;
        }
        
         /* Responsive Styles */
         @media (max-width: 768px) {
            nav ul {
                flex-direction: column;
            }

            nav ul li {
                width: 100%;
            }

            footer nav ul {
                flex-direction: column;
            }

            footer nav ul li {
                margin: 10px 0;
            }
        }

        @media (max-width: 480px) {
            nav ul li a {
                padding: 10px;
            }

            footer nav ul li a {
                padding: 10px;
            }
        }
        .inline-block {
            display: inline-block
        }

        .flex-container {
            display: flex; /* Makes the container a flex container */
            flex-direction: row; /* Ensures the items are laid out horizontally */
            justify-content: space-around; /* Distributes space evenly between items */
            align-items: center; /* Aligns items vertically centered */
            height: 15vh; /* Sets the height of the container to the viewport height */
            background-color: #f0f0f0; /* Light gray background color for visibility */
            font-family: 'Montserrat', sans-serif;
        }

        .flex-item {
            background-color: #D0EAFA; /* "Tracing Paper" color background color for items */
            color: #0468BF; /* "Blue Print" text color */
            padding: 30px; /* Adds padding inside the items */
            text-align: center; /* Centers the text inside the items */
            border-radius: 5px; /* Rounds the corners of the items */
            flex: 1; /* Makes the items flexible */
            margin: 10px; /* Adds space between the items */
            
        }
        .flex-item:hover {
            background-color: #0468BF; /* "Blue Print" color background color for items */
            color: #F0F4F3; /* "News Print" text color */
            padding: 30px; /* Adds padding inside the items */
            text-align: center; /* Centers the text inside the items */
            border-radius: 5px; /* Rounds the corners of the items */
            flex: 1; /* Makes the items flexible */
            margin: 10px; /* Adds space between the items */
            
        }

        .flex-container-2 {
            display: flex; /* Makes the container a flex container */
            flex-direction: row; /* Ensures the items are laid out horizontally */
            justify-content: space-around; /* Distributes space evenly between items */
            align-items: center; /* Aligns items vertically centered */
            height: 20vh; /* Sets the height of the container to the viewport height */
            background-color: #F0F4F3; /* "News Print"" background color for visibility */
            font-family: 'Montserrat', sans-serif;
        }

        .flex-item-2 {
            background-color: #F7E0EC; /* "Pink Sheet" color background color for items */
            color: #CA2102; /* "Edit Red" text color */
            padding: 30px; /* Adds padding inside the items */
            text-align: center; /* Centers the text inside the items */
            border-radius: 5px; /* Rounds the corners of the items */
            flex: 1; /* Makes the items flexible */
            margin: 10px; /* Adds space between the items */
            
        }
        .flex-item-2:hover {
            background-color: #CA2102; /* "Edit Red" color background color for items */
            color: #F0F4F3; /* "News Print" text color */
            padding: 30px; /* Adds padding inside the items */
            text-align: center; /* Centers the text inside the items */
            border-radius: 5px; /* Rounds the corners of the items */
            flex: 1; /* Makes the items flexible */
            margin: 10px; /* Adds space between the items */
            
        }
        
        .projects-list {
            display: flex;
            flex-direction: column;
            padding: 20px;
            font-family: 'Montserrat', sans-serif;
            Background-color: #383D40
        }

        .project-item {
            display: flex;
            align-items: flex-start;
            margin-bottom: 20px;
            background-color: #383D40; /* "News Print"" background for each project item */
            border-radius: 8px; /* Rounded corners for the project item container */
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
            overflow: hidden; /* Ensures rounded corners are applied to all content */
        }

        .project-item img {
            border-radius: 8px 0 0 8px; /* Rounds the top-left and bottom-left corners of the image */
            width: 150px; /* Fixed width for the image */
            height: 150px; /* Fixed height for the image */
            object-fit: cover; /* Ensures the image covers the specified area */
        }

        .project-content {
            padding: 15px;
            flex: 1; /* Allows the content to take up remaining space */
            Background-color: #383D40
        }

        .project-header {
            font-size: 1.5em;
            margin: 0;
            color: #F0F4F3; /* Dark text color for the header */
            Background-color: #383D40
        }

        .project-secondary-header {
            font-size: 1.2em;
            margin: 5px 0;
            color: #F0F4F3; /* Darker text color for the secondary header */
            Background-color: #383D40
        }

        .project-paragraph {
            font-size: 1em;
            margin: 10px 0;
            color: #EEE7C1; /* Medium text color for the paragraph */
            Background-color: #383D40
        }

        .view-project-button {
            display: inline-block;
            padding: 10px 20px;
            background-color: #EEE7C1; /* "Canvas" color" background color for the button */
            color: #777777;
            text-decoration: none;
            border-radius: 5px; /* Rounded corners for the button */
            font-size: 1em;
            text-align: center;
            transition: background-color 0.3s;
        }
        .view-project-button:hover {
            background-color: #CFBD53;
            border:1px solid;
            border-color: #EEE7C1;
            padding: .75%;
            border-radius: 7px; /* Rounds the corners of the button */
            Color: #EEE7C1;
            padding: 10px 20px;
        }
        BUTTON {
            background-color: #EEE7C1;
            border:1px solid;
            border-color: #CFBD53;
            padding: .75%;
            border-radius: 7px; /* Rounds the corners of the button */
            color: #777777;
            padding: 10px 20px;
          }
        BUTTON:hover {
            background-color: #CFBD53;
            border:1px solid;
            border-color: #EEE7C1;
            padding: .75%;
            border-radius: 7px; /* Rounds the corners of the button */
            Color: #EEE7C1;
            padding: 10px 20px;
          }
          
          .view-all-projects-button {
            color: #CA2102;
            background-color: #F7E0EC; /* Matches the container color */
            padding: 15px 0;
            width: 100%;
            border: none;
            border-radius: 0;
            font-size: 1.2em;
            cursor: pointer;
            transition: background-color 0.3s;
            border-color: #CA2102;
            border-radius: 7px;
        }

        .view-all-projects-button:hover {
            background-color: #CA2102; /* "Edit Red" when hovered */
            padding: 15px 0;
            width: 100%;
            border: none;
            border-radius: 0;
            font-size: 1.2em;
            cursor: pointer;
            transition: background-color 0.3s;
            border-color: #F7E0EC;
            border-radius: 7px;
            color:#F0F4F3
        }

</style>